# Node
node_modules/
npm-debug.log

# Python
__pycache__/
*.py[cod]
env/

# VS Code
.vscode/

# Ignoriere node_modules im Root und im Unterordner
node_modules/
Monthly-Sidequests/node_modules/
# Ignoriere alle .env-Dateien
*.env